.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
**/node_modules/**
**/.DS_Store
**/*.map
.nyc_output
**/*.vsix
.eslintrc.json
**/.eslintrc.json
**/test/**
**/tests/**
**/.travis.yml
**/appveyor.yml
**/.gitlab-ci.yml
**/azure-pipelines.yml
**/coverage/**
**/.vscode-test/**
**/.github/**
**/CHANGELOG.md
**/PUBLISH-GUIDE.md
**/test.html